certifi==2020.12.5
chardet==4.0.0
click==7.1.2
deepspeech==0.9.3
enum34==1.1.10
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.4
picovoice==1.1.0
pvporcupine==1.9.0
pvrhino==1.6.0
PyAudio==0.2.11
requests==2.25.1
scipy==1.5.4
urllib3==1.26.2
Werkzeug==1.0.1
waitress==2.0.0